//colors 
@color-black: #010101;
@color-white: #ffffff;
@color-light-grey: #f4f4f4;
@color-bg-grey: #f8f8f8;
@color-grey: #bdbdbd;
@color-dirty-white: #e0e0e0;
@color-bg-red: #e92d19;
@color-bg-purple: #ea817c;
@color-grafite: #303437;
@color-hover-grey: #43474a;
@color-input: #a4acb7;
@color-placeholder: #828282;

// font-sizes
@fs-header-xl: 44px;
@fs-header-large: 22px;
@fs-header: 18px;
@fs-content: 16px;
@fs-content-small: 14px;