<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ProductOptionProcessor">
        <plugin name="labelin_convert_to_product_options_fix" type="Labelin\Catalog\Plugin\Model\ConvertToProductOptionHandler"/>
    </type>
</config>
