<!--@subject {{var template_subject}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>
            <div class="greeting">Hi, {{var customer_name}}.</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="greeting">We are happy to inform you that the designer has started working with your artwork.</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="greeting">You will receive an email with an improved version soon.</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="greeting">If you are happy with the current image, write directly to the designer.</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="greeting"><b>Please always reply about current artwork to the mail from this e-mail letter.</b></div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
