header {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    .block-static-block {
        width: 100%;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.nav-sections {
    display: none;
}

.page-header {
    .panel {
        &.wrapper {
            background: linear-gradient(
                0.25turn,
                @color-bg-red,
                @color-bg-purple
            );
        }
        .header {
            display: flex;
            align-items: center;
        }
        .minicart-wrapper {
            a.showcart::before {
                color: @color-white;
            }
        }
    }
    .header {
        display: flex;
        max-width: 1440px;
        padding: 0;
        align-items: center;
        .logo {
            margin: 5px auto 15px 0;
        }
        .navigation {
            display: none;
        }
    }
}
