body {
    margin: 0px;
    &.cms-home{
        .page-main {
            max-width: 2560px;
            width: 100%;
        }
    }
}

.page-main {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    padding: 0;
    .container {
        max-width: 1455px;
        padding: 10px 10px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        @media (max-width: 768px) {
            padding: 0;
            max-width:768px;
            position: relative;
        }
    }
    .columns {
        .main {
            padding-bottom: 0;
        }
    }
    .main-header {
        background: linear-gradient(0.25turn, @color-bg-red, @color-bg-purple);
        color: @color-white;
        .main-banner-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 380px;
            position: relative;
            @media (max-width: 768px) {
                min-height: 178px;
            }

            .main-header-text-wrapper {
                display: flex;
                flex-direction: column;
                color: @color-white;
                margin-right: 200px;
                min-width: 388px;
                @media (max-width: 768px) {
                    min-width: unset;
                    width: 100%;
                    margin: 0;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    padding: 0 5px;
                }
                .header {
                    font-weight: bold;
                    font-size: @fs-header-xl;
                    line-height: 48px;
                    max-width: 385px;
                    width: 100%;
                    margin-bottom: 15px;
                    @media (max-width: 768px) {
                      display: none;
                    }
                }
                .header-text {
                    font-size: @fs-header-large;
                    line-height: 36px;
                    max-width: 388px;
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 36px;
                    @media (max-width: 768px) {
                      display: none;
                    }
                }
                .header-button {
                    color: @color-white;
                    background-color: @color-black;
                    padding: 19px 0;
                    border-radius: 30px;
                    border: none;
                    max-width: 185px;
                    width: 100%;
                    font-size: @fs-header;
                    line-height: 22px;
                    font-weight: bold;
                    box-shadow: none;
                    text-align: center;
                    &:hover {
                        text-decoration: none;
                        background-color: @color-buttons-hover;
                    }
                    @media (max-width: 768px) {
                      width: 100%;
                      max-width: 289px;
                      height: 50px;
                      padding: 0;
                    }
                }
                .mobile-nav-button-wrapper {
                  width: 100%;
                  max-width: 289px;
                  .nav-button {
                    display: none;
                    @media (max-width: 768px) {
                      display: block;
                      width: 100%;
                      max-width: 289px;
                      height: 50px;
                      font-size: @fs-header;
                      border-radius: 30px;
                      margin-top: 10px;
                      &:hover {
                          text-decoration: none;
                          color: white;
                          background-color: @color-buttons-hover;
                      }
                    }
                  }
                }

            }
            .main-header__stickers-wrapper {
                height: 380px;
                @media (max-width: 768px) {
                    height: 178px;
                }
                .main-header__stickers {
                    position: absolute;
                    height: 380px;
                    right: 0px;
                    @media (max-width: 861px) {
                        display: none;
                    }
                }
                .mobile-header__stickers {
                  display: none;
                  @media (max-width: 860px) {
                      display: block;
                      position: absolute;
                      left: 0;
                      top: 0;
                      height: 100%;
                      width:100%;
                  }
                }
            }
        }
    }
}
