<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\AbstractController\Reorder" type="Labelin\Quote\Controller\AbstractController\Reorder"/>
    <preference for="Magento\Sales\Controller\Order\Reorder" type="Labelin\Quote\Controller\Order\Reorder"/>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="labelin_convert_qoute_reorder_item_to_reorder" type="Labelin\Quote\Plugin\ConvertReorderItemToOrderItem"/>
    </type>
</config>
