<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="labelin" translate="label" sortOrder="10">
            <label>Labelin</label>
        </tab>
        <section id="labelin_s3_artwork" translate="label" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>S3 Artwork</label>
            <tab>labelin</tab>
            <resource>Labelin_S3Artwork::s3Artwork_config</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>S3 Artwork Options</label>
                <field id="save_path" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>S3 Artwork Path</label>
                </field>
            </group>
        </section>
    </system>
</config>
