<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <pitneybowesfreeshipping>
                <active>1</active>
                <name>Free Shipping</name>
                <title>10-days delivery</title>
                <shipping_cost>0</shipping_cost>
                <api_url>https://api-sandbox.pitneybowes.com/shippingservices</api_url>
                <max_package_weight>70</max_package_weight>
                <container>PKG</container>
                <unit_of_measure>LBS</unit_of_measure>
                <allowed_methods>USPS</allowed_methods>
                <sort_order>1</sort_order>
                <model>Labelin\PitneyBowesShipping\Model\Carrier\FreeShipping</model>
            </pitneybowesfreeshipping>
            <pitneybowesfixedpriceshipping>
                <active>1</active>
                <name>Fixed Price</name>
                <title>Pitney Bowes</title>
                <shipping_cost>10</shipping_cost>
                <api_url>https://api-sandbox.pitneybowes.com/shippingservices</api_url>
                <max_package_weight>70</max_package_weight>
                <container>PKG</container>
                <unit_of_measure>LBS</unit_of_measure>
                <allowed_methods>USPS</allowed_methods>
                <sort_order>2</sort_order>
                <model>Labelin\PitneyBowesShipping\Model\Carrier\FixedPrice</model>
            </pitneybowesfixedpriceshipping>
        </carriers>
    </default>
</config>
