<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Labelin_Sales::sales_order" title="Labelin Sales" sortOrder="200">
                    <resource id="Labelin_Sales::orders_chart" title="Orders Chart" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
