<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <labelin_sales>
            <order_configuration>
                <overdue_days>10</overdue_days>
            </order_configuration>
            <orders_chart_configuration>
                <width>200</width>
                <height>50</height>
            </orders_chart_configuration>
            <artwork_configuration>
                <declines_max_count>3</declines_max_count>
                <order_items_grid_width_size>150</order_items_grid_width_size>
                <order_items_grid_height_size>150</order_items_grid_height_size>
            </artwork_configuration>
            <artwork_awaiting_customer_approve_notification>
                <enabled>1</enabled>
                <exceeded_days>3</exceeded_days>
            </artwork_awaiting_customer_approve_notification>
        </labelin_sales>
        <labelin_sales_email>
            <artwork_approve>
                <enabled>1</enabled>
                <template>labelin_sales_email_artwork_approve_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_approve>
            <artwork_decline>
                <enabled>1</enabled>
                <template>labelin_sales_email_artwork_decline_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_decline>
            <artwork_customer_upload>
                <enabled>1</enabled>
                <template>labelin_sales_email_artwork_customer_upload_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_customer_upload>
            <artwork_designer_upload>
                <enabled>1</enabled>
                <template>labelin_sales_email_artwork_designer_upload_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_designer_upload>
            <artwork_awaiting_customer_approve>
                <template>labelin_sales_email_artwork_awaiting_customer_approve_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_awaiting_customer_approve>
        </labelin_sales_email>
        <labelin_guest_checkout_email>
            <welcome_email_with_artwork>
                <enabled>1</enabled>
                <template>labelin_guest_checkout_email_welcome_email_with_artwork_template</template>
                <copy_method>bcc</copy_method>
            </welcome_email_with_artwork>
            <welcome_email_without_artwork>
                <enabled>1</enabled>
                <template>labelin_guest_checkout_email_welcome_email_without_artwork_template</template>
                <copy_method>bcc</copy_method>
            </welcome_email_without_artwork>
            <approve_artwork>
                <enabled>1</enabled>
                <template>labelin_guest_checkout_email_approve_artwork_template</template>
                <copy_method>bcc</copy_method>
            </approve_artwork>
        </labelin_guest_checkout_email>
        <labelin_order_access>
            <shipment>
                <user_role>1</user_role>
            </shipment>
            <invoice>
                <user_role>1</user_role>
            </invoice>
            <cancel>
                <user_role>1</user_role>
            </cancel>
        </labelin_order_access>
    </default>
</config>
