<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order" type="Labelin\Sales\Model\Order"/>
    <preference for="Magento\Sales\Model\Order\Item" type="Labelin\Sales\Model\Order\Item"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_grid_data_source" xsi:type="string">Labelin\Sales\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Labelin\Sales\OverdueStatusDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/labelin_overdue_status.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Labelin\Sales\OverdueStatusLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Labelin\Sales\OverdueStatusDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Labelin\Sales\Cron\Order\OverdueStatusHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Labelin\Sales\OverdueStatusLogger</argument>
        </arguments>
    </type>
    <type name="Labelin\Sales\Model\Order">
        <arguments>
            <argument name="overdueAvailableStatuses" xsi:type="array">
                <item name="processing" xsi:type="const">Magento\Sales\Model\Order::STATE_PROCESSING</item>
                <item name="new" xsi:type="const">Magento\Sales\Model\Order::STATE_NEW</item>
                <item name="hold" xsi:type="const">Magento\Sales\Model\Order::STATE_HOLDED</item>
                <item name="review" xsi:type="const">Labelin\Sales\Model\Order::STATUS_REVIEW</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ApproveIdentity" type="Labelin\Sales\Model\Artwork\Email\Container\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_sales_email/artwork_approve/enabled</item>
                <item name="template" xsi:type="string">labelin_sales_email/artwork_approve/template</item>
                <item name="identity" xsi:type="string">labelin_sales_email/artwork_approve/identity</item>
                <item name="copy_to" xsi:type="string">labelin_sales_email/artwork_approve/copy_to</item>
                <item name="copy_method" xsi:type="string">labelin_sales_email/artwork_approve/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DeclineIdentity" type="Labelin\Sales\Model\Artwork\Email\Container\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_sales_email/artwork_decline/enabled</item>
                <item name="template" xsi:type="string">labelin_sales_email/artwork_decline/template</item>
                <item name="identity" xsi:type="string">labelin_sales_email/artwork_decline/identity</item>
                <item name="copy_to" xsi:type="string">labelin_sales_email/artwork_decline/copy_to</item>
                <item name="copy_method" xsi:type="string">labelin_sales_email/artwork_decline/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="UpdateByDesignerIdentity" type="Labelin\Sales\Model\Artwork\Email\Container\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_sales_email/artwork_designer_upload/enabled</item>
                <item name="template" xsi:type="string">labelin_sales_email/artwork_designer_upload/template</item>
                <item name="identity" xsi:type="string">labelin_sales_email/artwork_designer_upload/identity</item>
                <item name="copy_to" xsi:type="string">labelin_sales_email/artwork_designer_upload/copy_to</item>
                <item name="copy_method" xsi:type="string">labelin_sales_email/artwork_designer_upload/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="UpdateByCustomerIdentity" type="Labelin\Sales\Model\Artwork\Email\Container\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_sales_email/artwork_customer_upload/enabled</item>
                <item name="template" xsi:type="string">labelin_sales_email/artwork_customer_upload/template</item>
                <item name="identity" xsi:type="string">labelin_sales_email/artwork_customer_upload/identity</item>
                <item name="copy_to" xsi:type="string">labelin_sales_email/artwork_customer_upload/copy_to</item>
                <item name="copy_method" xsi:type="string">labelin_sales_email/artwork_customer_upload/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AwaitingApproveIdentity" type="Labelin\Sales\Model\Artwork\Email\Container\AwaitingApproveIdentity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="template" xsi:type="string">labelin_sales_email/artwork_awaiting_customer_approve/template</item>
                <item name="identity" xsi:type="string">labelin_sales_email/artwork_awaiting_customer_approve/identity</item>
                <item name="copy_to" xsi:type="string">labelin_sales_email/artwork_awaiting_customer_approve/copy_to</item>
                <item name="copy_method" xsi:type="string">labelin_sales_email/artwork_awaiting_customer_approve/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Labelin\Sales\Model\Artwork\Email\Sender\ApproveSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">ApproveIdentity</argument>
        </arguments>
    </type>
    <type name="Labelin\Sales\Model\Artwork\Email\Sender\DeclineSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">DeclineIdentity</argument>
        </arguments>
    </type>
    <type name="Labelin\Sales\Model\Artwork\Email\Sender\UpdateByDesignerSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">UpdateByDesignerIdentity</argument>
        </arguments>
    </type>
    <type name="Labelin\Sales\Model\Artwork\Email\Sender\UpdateByCustomerSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">UpdateByCustomerIdentity</argument>
        </arguments>
    </type>
    <type name="Labelin\Sales\Model\Artwork\Email\Sender\AwaitingApproveSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">AwaitingApproveIdentity</argument>
        </arguments>
    </type>
</config>
