<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="order_status_on_hold_handler" instance="Labelin\Sales\Observer\Order\OnHoldStatusHandler" />
    </event>
    <event name="sales_order_item_save_after">
        <observer name="order_status_unhold_handler" instance="Labelin\Sales\Observer\Order\UnholdStatusHandler" />
    </event>
    <event name="labelin_order_item_approve_after">
        <observer name="artwork_approve_send_email_handler" instance="Labelin\Sales\Observer\Artwork\ApproveHandler"/>
    </event>
    <event name="labelin_order_item_decline_after">
        <observer name="artwork_decline_send_email_handler" instance="Labelin\Sales\Observer\Artwork\DeclineHandler"/>
    </event>
    <event name="labelin_artwork_customer_upload">
        <observer name="artwork_customer_upload_send_email_handler" instance="Labelin\Sales\Observer\Artwork\CustomerUploadHandler"/>
    </event>
    <event name="labelin_artwork_designer_upload">
        <observer name="artwork_designer_upload_send_email_handler" instance="Labelin\Sales\Observer\Artwork\DesignerUploadHandler"/>
    </event>
</config>
