<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Labelin\Sales\Ui\Component\MassAction\Designer\Assign">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">sales/order/massDesignerAssign</item>
                <item name="paramName" xsi:type="string">designerId</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Assign Designer</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure to assign selected orders to designer?</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Invoices">
        <plugin name="show_tab_for_designers" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\DesignerTabsHandler" sortOrder="1"/>
        <plugin name="show_tab_for_shipper" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\ShipperTabsHandler" sortOrder="2"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Creditmemos">
        <plugin name="show_tab_for_designers" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\DesignerTabsHandler" sortOrder="1"/>
        <plugin name="show_tab_for_shipper" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\ShipperTabsHandler" sortOrder="2"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Shipments">
        <plugin name="show_tab_for_designers" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\DesignerTabsHandler" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Transactions">
        <plugin name="show_tab_for_designers" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\DesignerTabsHandler" sortOrder="1"/>
        <plugin name="show_tab_for_shipper" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\ShipperTabsHandler" sortOrder="2"/>
    </type>
    <type name="Magento\Sales\Controller\Adminhtml\Order\View">
        <plugin name="show_tab_for_designers" type="Labelin\Sales\Plugin\Controller\Adminhtml\Order\View" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="labelin_adminhtml_order_view_add_review_button" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\ReviewButton" sortOrder="10" />
        <plugin name="labelin_adminhtml_order_view_add_production_button" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\ProductionButton" sortOrder="20" />
        <plugin name="labelin_adminhtml_order_view_add_print_labelin_button" type="Labelin\Sales\Plugin\Block\Adminhtml\Order\View\PrintShippingLabelButton" sortOrder="30" />
    </type>
    <type name="Labelin\Sales\Block\Adminhtml\Order\Chart">
        <arguments>
            <argument name="availableStatusesForChart" xsi:type="array">
                <item name="processing" xsi:type="const">Labelin\Sales\Model\Order::STATE_PROCESSING</item>
                <item name="designer_review" xsi:type="const">Labelin\Sales\Model\Order::STATUS_REVIEW</item>
                <item name="in_production" xsi:type="const">Labelin\Sales\Model\Order::STATUS_IN_PRODUCTION</item>
                <item name="overdue" xsi:type="const">Labelin\Sales\Model\Order::STATUS_OVERDUE</item>
                <item name="complete" xsi:type="const">Labelin\Sales\Model\Order::STATE_COMPLETE</item>
                <item name="holded" xsi:type="const">Labelin\Sales\Model\Order::STATE_HOLDED</item>
                <item name="pending" xsi:type="const">Labelin\Sales\Model\Order::STATUS_PENDING</item>
            </argument>
        </arguments>
    </type>
</config>
