<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="labelin" translate="label" sortOrder="10">
            <label>Labelin</label>
        </tab>
        <section id="labelin_sales" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sales</label>
            <tab>labelin</tab>
            <resource>Labelin_Sales::sales_config</resource>
            <group id="order_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Configuration</label>
                <field id="overdue_days" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Overdue days</label>
                    <comment>Is a number of days assigned by the admin to orders to count from when the order is placed to finalization (shipped)</comment>
                </field>
            </group>
            <group id="orders_chart_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Orders Chart Configuration</label>
                <field id="width" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Width</label>
                    <validate>validate-digits validate-zero-or-greater validate-number-range number-range-200-500</validate>
                </field>
                <field id="height" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Height</label>
                    <validate>validate-digits validate-zero-or-greater validate-number-range number-range-50-250</validate>
                </field>
            </group>
            <group id="artwork_configuration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Artwork Configuration</label>
                <field id="declines_max_count" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Declines max count</label>
                    <comment>Specify 0 if you want to unlimited declines. In this case, the customer has unlimited decline option.</comment>
                    <validate>validate-digits validate-zero-or-greater validate-number-range number-range-0-100</validate>
                </field>
            </group>
        </section>
    </system>
</config>
