<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="pitney_bowes_tracking_number" instance="Labelin\PitneyBowesShipping\Observer\Carrier\TrackingNumberHandler" />
    </event>
    <event name="labelin_shipping_tracking_number_after">
        <observer name="pitney_bowes_tracking_number_notification" instance="Labelin\PitneyBowesShipping\Observer\Carrier\TrackingNumberNotificationHandler" />
    </event>
</config>
