<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <labelin_production_ticket_email>
            <to_programmer>
                <enabled>1</enabled>
                <template>labelin_production_ticket_email_to_programmer_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </to_programmer>
        </labelin_production_ticket_email>
    </default>
</config>
