<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <labelin_production_ticket_email>
            <to_programmer>
                <enabled>1</enabled>
                <template>labelin_production_ticket_email_to_programmer_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </to_programmer>
            <to_shipper>
                <send_to_customer>0</send_to_customer>
                <enabled>1</enabled>
                <template>labelin_production_ticket_email_to_shipper_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </to_shipper>
            <artwork_item_in_production>
                <enabled>1</enabled>
                <template>labelin_production_ticket_email_artwork_item_in_production_template</template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </artwork_item_in_production>
        </labelin_production_ticket_email>
    </default>
</config>
