<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Labelin\ProductionTicket\Api\Data\ProductionTicketRepositoryInterface" type="Labelin\ProductionTicket\Model\ProductionTicketRepository"/>
    <preference for="Labelin\ProductionTicket\Api\Data\ProductionTicketInterface" type="Labelin\ProductionTicket\Model\ProductionTicket"/>
    <preference for="Labelin\ProductionTicket\Api\Data\ProductionTicketSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Labelin\Sales\Model\Order" type="Labelin\ProductionTicket\Model\Order"/>
    <preference for="Labelin\Sales\Model\Order\Item" type="Labelin\ProductionTicket\Model\Order\Item"/>
    <preference for="Magento\Framework\Mail\Template\TransportBuilder" type="Labelin\ProductionTicket\Model\Mail\Template\TransportBuilder" />
    <preference for="Magento\Sales\Model\Order\Email\SenderBuilder" type="Labelin\ProductionTicket\Model\Order\Email\SenderBuilder"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="labelin_production_ticket_data_source" xsi:type="string">Labelin\ProductionTicket\Model\ResourceModel\ProductionTicket\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Labelin\ProductionTicket\Model\ResourceModel\ProductionTicket\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">labelin_production_ticket</argument>
            <argument name="resourceModel" xsi:type="string">Labelin\ProductionTicket\Model\ResourceModel\ProductionTicket</argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductionTicketIdentity" type="Labelin\ProductionTicket\Model\Email\Container\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_production_ticket_email/to_programmer/enabled</item>
                <item name="template" xsi:type="string">labelin_production_ticket_email/to_programmer/template</item>
                <item name="identity" xsi:type="string">labelin_production_ticket_email/to_programmer/identity</item>
                <item name="copy_method" xsi:type="string">labelin_production_ticket_email/to_programmer/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Labelin\ProductionTicket\Model\Email\Sender\ProductionTicketSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">ProductionTicketIdentity</argument>
        </arguments>
    </type>
    <virtualType name="OrderReadyToShipIdentity" type="Labelin\ProductionTicket\Model\Email\ReadyToShip\Identity">
        <arguments>
            <argument name="xmlPathSettings" xsi:type="array">
                <item name="is_enabled" xsi:type="string">labelin_production_ticket_email/to_shipper/enabled</item>
                <item name="template" xsi:type="string">labelin_production_ticket_email/to_shipper/template</item>
                <item name="identity" xsi:type="string">labelin_production_ticket_email/to_shipper/identity</item>
                <item name="copy_method" xsi:type="string">labelin_production_ticket_email/to_shipper/copy_method</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Labelin\ProductionTicket\Model\Email\Sender\ShipperOrderSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">OrderReadyToShipIdentity</argument>
        </arguments>
    </type>
    <virtualType name="Labelin\ProductionTicket\Helper\ProductionTicketDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/production_ticket.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Labelin\ProductionTicket\Helper\ProductionTicketLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Labelin\ProductionTicket\Helper\ProductionTicketDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="\Labelin\ProductionTicket\Helper\ProductionTicketAbstract">
        <arguments>
            <argument name="logger" xsi:type="object">Labelin\ProductionTicket\Helper\ProductionTicketLogger</argument>
        </arguments>
    </type>
</config>
